@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

html{
    scroll-behavior: smooth;
}

section,
footer{
    overflow-x: hidden;
}

/*   color de fondo  */

body{
    background-color: rgb(213, 233, 241);
}

/* inicio/Portada */

.top{
    height: 100vh;
    background-image: url(../img/vete-desenfocada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 

.top-content{
    background-color: rgba(179, 182, 184, 0.308);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
}

.top-logo{
    margin-top: 1rem;
    width: 40rem;
}

.top h1{
    width: 40rem;
    margin: 1rem;
    color: #fff;
    font-size: 2rem;
}

.scroll{
    margin-bottom: 10px;
    width: 3rem;
}

.animate__shakeY{
    animation: shakeY;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}


/* Barra de navegacion */

.encabezado{
    background-color: #3785a7c9;
    height: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 2;

}

.logo-imagen{
    padding:5px;
    padding-left: 1rem;
    width: 150px;
}


.custom-bar{
    padding: 0;
}

.navbar-brand{
    padding: inherit;
}

.navbarra{
    background-color: #4295b996;
    font-size: 1.2rem;
    font-weight:bold;
    gap: 25rem;
}

.menu li > a{
    margin-bottom: 0;
    color: #bdd8e4;
}

.menu{
    align-items: center;
}

.menu li > a{
    color: #bdd8e4;
    padding: 1.26rem;
}

.menu-item.dif a{
    background-color: rgb(243, 178, 118) ;
    padding: 1.26rem;
}

.menu-item.dif a:hover,
.menu-item.activo.dif a{
    background-color: rgba(243, 178, 118, 0.87);
    transition: all 0.5s;
    padding-inline: 2rem;
}

.menu-item{
    padding-left: inherit;
    padding-right: inherit;
}

.menu-item.activo a{
    background-color: #bdd8e4;
    color: rgb(77, 113, 167);
    padding-inline: 2rem !important;
}

.menu-item.activo a:hover,
.menu-item a:hover{
    background-color: #99c0d1;
    color: rgb(77, 113, 167);
    transition: all 0.5s;
    padding-inline: 2rem !important;
}

/* Redes */

.redes-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 1rem;
    padding: inherit;
    padding-right: 1rem;
    gap: 0.75rem;
}

.redes-item a{
    color: rgb(189, 216, 228);
}

.redes-item a:hover{
    color: #39667e;
    transition: all 0.3s;
}

.container-fluid{
    padding-left: 0;
    padding-right:0;
}




/* Titulo contenido */

.titulo-pagina{
    overflow-x: hidden;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content:flex-start;
    color: #1b698a;
    font-size: 1.75rem;
    background-color: #bdd8e4;
    text-shadow: #39667e;
    box-shadow: 5px 5px #b0d2e2e0;
}

.titulo-pagina h2{
    overflow-x: hidden;
    margin-left: 17rem;
    text-shadow: 3px 3px #72b2cf9a;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
    transition-delay: 1s;
    transition: all 0.3s;
    -webkit-animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

/* Index*/

.contenido-flex{
    display: flex;
    justify-content: center;
}

.contenido{
    display: flex;
    flex-direction: column;
    width: 83rem;
    background-color: #aacddf;

}

.tarjeta-grid{
    overflow-x: hidden;
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "t1 t2 t3 t4"
    "t5 t5 t6 t6"
    "t5 t5 t6 t6"
    ;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    flex: 1;
}

.t1{
    grid-area: t1;
    background-image: url(../img/perrro-vacuna.jpg);
}

.t2{
    grid-area: t2;
    background-image: url(../img/ectopills.jpg);
}

.t3{
    grid-area: t3;
    background-image: url(../img/image7.jpeg);
}

.t4{
    grid-area: t4;
    background-image: url(../img/mascotas.jpg);
}

.t5{
    grid-area: t5;
    background-image: url(../img/pexels-tima-miroshnichenko-6235241.jpg);
}

.t6{
    grid-area: t6;
    background-image: url(../img/image1.jpeg);
}


.tarjeta{
    overflow-x: hidden;
    display: flex;
    background-color: #98b9c9;
    border-radius: 10px;
    height: 100%;
    background-position: center center;
    background-size: cover;
    align-items: flex-end;
    flex: 1;
}

.tarjeta .linea > h3{
    font-size: 1.5rem;
    margin-bottom: 0;
}

.t1,
.t2,
.t3,
.t4{
    height: 20rem;
} 

.tarjeta > iframe{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.titulo-tarjeta{
    color: #fff;
    text-align: center;
}

.tarjeta .linea{
    align-items: flex-end;
}

.t6.t5 .linea > h3{
    font-size: 2rem;
}

.linea{
    display: flex;
    justify-content: space-around;
    background: linear-gradient( #5e93b705, #5E94B7 ) ;
    padding: 100px 5px 10px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: 1;
}

.ver{
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    color: #39667e;
    transition: all 0.3s;
}

.ver a a:visited{
    text-decoration: none;
    color:#39667e;
}

.ver:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.16) 2px 3px 6px, rgba(0, 0, 0, 0.23) 2px 3px 6px;
}


.tarjeta-grid > div{
    flex: 1;
}


/* formulario */

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
  }

  input, textarea, select{
    width : 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }  


.formulario{
    overflow-x: hidden;
    background-color: #39667e;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.map-form{
    overflow-x: hidden;
   border-radius: 20px ;
}

.caja-formulario{
    overflow-x: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: #62869e;
    border: none ;
    padding: 2.5rem;
}

.form-item textarea{
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
}

.form-item input {
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
}

.form-item select{
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
}

.grid-form{
    overflow-x: hidden;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4 1fr);
    grid-template-areas:
    "nombre     consulta"
    "email      consulta"
    "telefono   consulta "
    "tcons      enviar"
    ;
    gap: 0.75rem;
    column-gap: 2rem;
}

.na{
    grid-area: nombre;
}
.mail{
    grid-area: email;
}
.tel{
    grid-area: telefono;
}
.tcons{
    grid-area: tcons;
}
.cons{
    grid-area: consulta;
}
.env{
    grid-area: enviar;
}

.text-form{
    text-align: center;
    padding: 2rem 5rem;
    font-size: 1.25rem;
}


/* Nosotros */

.nosotros{
    padding-top: 5px;
}

.titulo-nosotros{
    color: rgb(59, 86, 126);
    padding: 1rem 4rem;
    text-align: justify;
    line-height: 2rem;
    transition: all 1s;
}

.tarjeta-nosotros{
    background-color: rgba(255, 255, 255, 0.082);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "imagen-a   linea-a"
    "linea-b    imagen-b"
    "imagen-c   linea-c"
    "linea-d    imagen-d"
    ;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

.imagen-a{
    grid-area: imagen-a;
}

.imagen-b{
    grid-area: imagen-b;
}

.linea-a{
    grid-area: linea-a;
}

.linea-b{
    grid-area: linea-b;
}

.imagen-c{
    grid-area: imagen-c;
}

.imagen-d{
    grid-area: imagen-d;
}

.linea-c{
    grid-area: linea-c;
}

.linea-d{
    grid-area: linea-d;
}

.img-nosotros-a,
.img-nosotros-b{
    width: 100%;
}

.contenido-flex-nos{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}


/* Productos */

.card:hover{
    transform: scale(1.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.3s;
}

.ver-mas:hover{
    background-color: #39667e;
    border-color: #39667e;
    transition: all 0.3s;
}

.prod{
    margin: 1rem;
    background-color:#1b698a96;
    border-radius: 1rem;
    -webkit-animation: slide-in-bck-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bck-top {
    0% {
      -webkit-transform: translateZ(700px) translateY(-300px);
              transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-top {
    0% {
      -webkit-transform: translateZ(700px) translateY(-300px);
              transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

/* Servicios */

.container-xl{
    padding-left: 0;
    padding-right: 0;
}

.tarjeta-servicios{
    width: 100%;
    background-color: #78aacc;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "imagen-a   linea-a"
    "linea-b    imagen-b";
    align-items: center;
    justify-content: center;
    gap: 1rems;
    -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.linea-b-servicios,
.linea-a-servicios{
    padding: 2rem;
    line-height: 2rem;
}


.titulo-servicios{
    color: #fff;
    text-align: justify;
}

.imagen-a-servicios{
    grid-area: imagen-a;
}

.imagen-b-servicios{
    grid-area: imagen-b;
}

.linea-a-servicios{
    grid-area: linea-a;
    border-top-right-radius: 5px;
}

.linea-b-servicios{
    grid-area: linea-b;
    border-bottom-left-radius: 5px;
}

.img-servicios-a,
.img-servicios-b{
    width: 100%;
    border-radius: 15px;
    padding: 0.5rem;

}

.titulo-servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-servicios li{
    list-style-type: disc;
    line-height: 3rem;
}

.linea-servicios{
    font-size: 1.25rem;
}


/* Contacto */

.contacto{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mapa{
    background: linear-gradient(#bdd8e4 ,#39667e);
    padding: 20px;
    width: 100%;
    height: 700px;
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
            animation-delay: 0.25s;
            transition: all 0.3s;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }

.redes-contacto{
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#39667e;
    transition: all 0.3s;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.acordion{
    background-color: inherit;
    background-color: #39667e;
    color: #fff;
    border: inherit;
    border-radius: 0;
}

.acordion-font{
    font-size: 2rem;
}

.accordion-border{
    border-radius: 0;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

.redes-contacto li{
    list-style: none;
}

.redes-list-contacto{
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.redes-item-contacto a{
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.redes-item-contacto{
    padding:40px;
    text-align: center;
}

.redes-item-contacto a:hover{
    color: #5E94B7;
    transition: all 0.3s;
}

.redes-item-contacto i{
    font-size: 100px;
}


/* Pie de pagina */

.pie{
    display: flex;
    background-color: #39667e;
}

.pie h6{
    color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 0.75rem;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1800px) {
    .html{
 
        max-width: 1800px;
    }

    .titulo-pagina{
        justify-content:center;
    }
    
    .titulo-pagina h2{
        margin-left: inherit;
    }

}

@media screen and (max-width: 1400px) {
    .html{

        max-width: 1400px;
    }
    .navbarra{
        gap: 18rem;
    }

}
@media screen and (max-width: 1145px) {
    .html{
 
        max-width: 1145px;
    }
    .navbarra{
        gap: 10rem;
    }

}


@media screen and (max-width: 1024px) {
    .html{
        max-width: 1024px;
    }

    body{
        width: 1024px;
        max-width: 1024px;
    }

    .top{
        width:1024px;
    } 
    
    .top-content{
        width: 100%;
        font-size: 0.85rem;
    }
    
    .top-logo{
        margin-top: 20px;
        width: 350px;
    }

    .titulo-pagina{
        justify-content: center;
    }
    
    .titulo-pagina h2{
        margin-left: inherit;
    }

    .navbarra{
        gap: inherit;
        width: 100%;
        background-color: #589BB8;
    }

    .redes-list{
        margin-block: 20px;
    }

    .caja-formulario{
        width: 45rem;
        margin-right:inherit;
    }

    .titulo-nosotros{
        line-height: 1.75rem;
        padding-inline: 1.75rem;
    }

    .titulo-servicios li{
        list-style-type: disc;
        line-height: 2rem;
    }

    .form{
        flex-direction: column;
    }

    .grid-form{
        width: 40rem;
    }

}

@media screen and (max-width: 992px) {
    .custom-bar{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 768px) {
    .html{
        max-width: 768px;
    }
    body{
        overflow-x: hidden ;
        width: 768px;
        max-width: 768px;
    }

    .top{
        width:768px;
    } 
    
    .top-content{
        width: 100%;
        font-size: 0.75rem;
    }
    
    .top-logo{
        margin-top: 20px;
        width: 300px;
    }
    
    .top h1{
        width: fit-content;
        margin: 20px;
        color: #fff;
    }

    .scroll{
        width: 30px;
    }

    .navbarra{
        gap: inherit;
    }

    .redes-list{
        flex-direction: row;
    }

    .titulo-pagina{
        justify-content: center;
    }
    
    .titulo-pagina h2{
        margin-left: inherit;
    }


    .contenido{
        width: 100%;
        margin: inherit;
    }

    .tarjeta-grid{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(3 1fr) ;
        grid-template-areas: 
        "t1 t2"
        "t3 t4"
        "t5 t6"
        ;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        flex: 1;
        
    }

    .linea h3{
        font-size: 1rem;
    }

    .caja-formulario{
        width: 35rem;
        margin-right:inherit;
    }

    .tarjeta-nosotros{
        display: flex;
        flex-direction: column;
    }

    .titulo-nosotros{
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding-inline: 1.75rem;
    }

    .tarjeta-productos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(12 1fr);
        grid-template-areas:
        "prod12 prod12"
        "prod12 prod12"
        "prod1  prod1"
        "prod1  prod1"
        "prod10 prod10"
        "prod10 prod10"
        "prod6  prod7"
        "prod2  prod3"
        "prod4  prod5"
        "prod8  prod9"
        "prod11 prod11"
        "prod11 prod11"
        ;
    }

    .titulo-prod{
        font-size: 1.25rem;
    }
} 

@media screen and (max-width: 480px) {
    .html{
        max-width: 480px;
    }

    body{
        width: 480px;
        max-width: 480px;
    }

    .top{
        width: fit-content;
        height: 100vh;
        background-image: url(../img/vete-desenfocada.jpg);
        background-repeat: no-repeat;
    } 
    
    .top-content{
        width: 100%;
        font-size: 0.5rem;
    }
    
    .top-logo{
        margin-top: 20px;
        width: 200px;
    }
    
    .top h1{
        width: fit-content;
        margin: 20px;
        color: #fff;
    }

    .scroll{
        width: 30px;
    }

    .encabezado{
        flex-direction: column;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: larger;
    }

    .logo-imagen{
        margin:inherit;
        width: 100px;
    }

    .menu{
        height: 100%;
        padding: 5px;
        flex-direction: column;
        gap: 10px;
    }

    .menu-item a{
        font-size: small;
        padding: 5px;
    }

    .menu-item.dif a{
        border: inherit;
        padding: 5px;
    
    }

    .redes-list{
        flex-direction: row;
    }

    .titulo-pagina{
        justify-content: center;
    }
    
    .titulo-pagina h2{
        margin-left: inherit;
    }


    .contenido{
        width: 100%;
        margin: inherit;
    }

    .tarjeta-grid{
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(6 1fr) ;
        grid-template-areas: 
        "t1"
        "t2"
        "t3"
        "t4"
        "t5"
        "t6"
        ;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        flex: 1;
        
    }

    .t6{
        align-items: flex-end;
    }
    
    .tarjeta{
        height: 18rem;
        margin-top: inherit;
        flex: 1;
    }
    
    .titulo-tarjeta{
        color: #fff;
        text-align: center;
    }


    .linea h3{
        margin-left:10px ;
    }

    .tarjeta .linea{
        justify-content: space-between;
        align-items: center;
    }

    .t6 .linea{
        font-size: inherit;
    }
    
    .ver{
        margin: inherit;
        padding: 5px;
        margin-right: 10px;
    }

    /* formulario */


    .grid-form{
        grid-template-areas:
        "nombre     consulta"
        "email      consulta"
        "telefono   consulta "
        "tcons      enviar"
        ;
        row-gap: 5px;
    }


    .formulario{
        flex-direction: column;
    }

    .caja-formulario{
        width: 25rem;
        margin-right:inherit;
    }

    .text-form{
        font-size: 1rem;
        padding-bottom: 1rem;
        margin-left: inherit;
        width: 100%;
    }

    .form-item textarea{
        padding: 0.25rem;
        border-radius: 5px;
    
    }
    
    .form-item input {
        padding: 0.25rem;
        border-radius: 5px;
    }
    
    .form-item select{
        padding: 0.25rem;
        border-radius: 5px;
    }
    
    .tarjeta-productos{
        display: flex;
        flex-direction: column;
    }

    .tarjeta-servicios{
        display: flex;
        flex-direction: column;
        gap: 1rems;
        border-radius: inherit;
    }

    .img-servicios-a,
    .img-servicios-b{
        border-radius: inherit;
        padding: inherit;
    }

    .servicios{
        max-width: 480px;
    }

    .servicios img{
        width: 100%;
    }

    .servicios h2{
        font-size: 1.25rem;
    }

    .mapa{
        height: 500px;
    }

    .redes-list-contacto{
        flex-direction: column;
    }


}
