@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

html{
    scroll-behavior: smooth;
}

/*   color de fondo  */

body{
    background-color: rgb(213, 233, 241);
}

/* inicio/Portada */

.top{
    height: 100vh;
    background-image: url(../img/vete-desenfocada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 

.top-content{
    background-color: rgba(179, 182, 184, 0.308);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
}

.top-logo{
    margin-top: 1rem;
    width: 40rem;
}

.top h1{
    width: 40rem;
    margin: 1rem;
    color: #fff;
    font-size: 2rem;
}

.scroll{
    margin-bottom: 10px;
    width: 3rem;
}

.animate__shakeY{
    animation: shakeY;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}


/* Barra de navegacion */

.encabezado{
    background-color: #1b688a80;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position:sticky;
    top: 0;
    z-index: 1;
}

.logo-imagen{
    margin:5px;
    width: 150px;
}

.navbarra{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: larger;
    font-weight:bold;
    align-items: center;

}

.navbarra li{
    list-style-type: none;
}

ul.menu{
    margin-bottom: 0;
}

.menu{
    height: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.menu-item a{
    border-radius: 7.5px;
    color: #bdd8e4;
    padding: 10px;
    text-decoration: none;
}

.menu-item.dif a{
    border: 3px solid rgb(243, 178, 118);
    background-color: rgb(243, 178, 118) ;
    padding: 30px 5px 30px 5px;

}

.menu-item.dif a:hover,
.menu-item.active.dif a{
    background-color: rgb(243, 178, 118);
    transition: color 0.75s;
    
}

.menu-item.active a,
.menu-item a:hover{
    background-color: rgb(189, 216, 228);
    color: rgb(77, 113, 167);
    transition: background-color 0.5s, color 0.75s;
}

/* Redes */

.redes-list{
    display:flex;
    flex-direction: column;
    margin-inline: 0.25rem;
    padding-left:0;
}

.redes-img{
    width: 25px;
}

/* Titulo contenido */

.titulo-pagina{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content:flex-start;
    color: rgb(27, 105, 138);
    font-size: 1.75rem;
    background-color: #bdd8e4;
    text-shadow: #39667e;
    box-shadow: 5px 5px #b0d2e2e0;
}

.titulo-pagina h2{
    margin-left: 17rem;
    text-shadow: 3px 3px #72b2cf9a;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
    transition-delay: 1s;
    transition: all 0.3s;
    -webkit-animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

/* Index*/

.contenido-flex{
    display: flex;
    justify-content: center;
}

.contenido{
    display: flex;
    flex-direction: column;
    width: 83rem;
    background-color: #aacddf;

}

.tarjeta-grid{
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "t1 t2 t3 t4"
    "t5 t5 t6 t6"
    "t5 t5 t6 t6"
    ;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    flex: 1;
}

.t1{
    grid-area: t1;
    background-image: url(../img/perrro-vacuna.jpg);
}

.t2{
    grid-area: t2;
    background-image: url(../img/ectopills.jpg);
}

.t3{
    grid-area: t3;
    background-image: url(../img/image7.jpeg);
}

.t4{
    grid-area: t4;
    background-image: url(../img/mascotas.jpg);
}

.t5{
    grid-area: t5;
}

.t6{
    grid-area: t6;
    background-image: url(../img/image1.jpeg);
}


.tarjeta{
    display: flex;
    background-color: #98b9c9;
    border-radius: 10px;
    height: 100%;
    background-position: center center;
    background-size: cover;
    align-items: flex-end;
    flex: 1;
}

.tarjeta .linea > h3{
    font-size: 1.5rem;
    margin-bottom: 0;
}

.t1,
.t2,
.t3,
.t4{
    height: 20rem;
} 

.tarjeta > iframe{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.titulo-tarjeta{
    color: #fff;
    text-align: center;
}

.tarjeta .linea{
    align-items: flex-end;
}

.t6 .linea > h3{
    font-size: 2rem;
}

.linea{
    display: flex;
    justify-content: space-around;
    background: linear-gradient( #5e93b705, #5E94B7 ) ;
    padding: 100px 5px 10px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: 1;
}

.ver{
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    color: #39667e;
    transition: all 0.3s;
}

.ver a a:visited{
    text-decoration: none;
    color:#39667e;
}

.ver:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.16) 2px 3px 6px, rgba(0, 0, 0, 0.23) 2px 3px 6px;
}


.tarjeta-grid > div{
    flex: 1;
}


/* formulario */

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
  }

  input, textarea, select{
    width : 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }  

.formulario{
    border:solid 2px #39667eb0;
    background-color: #39667e;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    justify-content: center;
    box-shadow: 7px 7px 25px rgb(58, 58, 58);
}

.caja-formulario{
    display: flex;
    justify-content: center;
    background-color: #62869e;
    width: 62rem;
    border: none ;
    padding: 2rem;
   
}

.form-item textarea{
    padding: 0.5rem;
   

}

.form-item input {
    padding: 0.5rem;
  
}

.form-item select{
    padding: 0.5rem;
  
}

.grid-form{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4 1fr);
    grid-template-areas:
    "nombre     consulta"
    "email      consulta"
    "telefono   consulta "
    "tcons      enviar"
    ;
    gap: 0.5rem;
    column-gap: 3rem;
}

.na{
    grid-area: nombre;
}
.mail{
    grid-area: email;
}
.tel{
    grid-area: telefono;
}
.tcons{
    grid-area: tcons;
}
.cons{
    grid-area: consulta;
}
.env{
    grid-area: enviar;
}

.text-form{
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}


/* Nosotros */

.nosotros{
    padding: 20px;
}

@-webkit-keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }

.titulo-nosotros{
    color: rgb(59, 86, 126);
    padding: 1rem 4rem;
    text-align: justify;
    line-height: 2rem;
    -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: all 1s;
}

.tarjeta-nosotros{
    background-color: rgba(255, 255, 255, 0.082);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "imagen-a   linea-a"
    "linea-b    imagen-b";
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

.imagen-a{
    grid-area: imagen-a;
}

.imagen-b{
    grid-area: imagen-b;
}

.linea-a{
    grid-area: linea-a;
}

.linea-b{
    grid-area: linea-b;
}

.img-nosotros-a,
.img-nosotros-b{
    width: 100%;
}


/* Productos */

.tarjeta-productos{
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8 1fr);
    grid-template-areas:
    "prod12 prod12  prod12 prod12"
    "prod12 prod12  prod12 prod12"
    "prod12 prod12  prod12 prod12"
    "prod1  prod1   prod2  prod3"
    "prod1  prod1   prod4  prod5"
    "prod6  prod7   prod8  prod9"
    "prod10 prod10  prod11 prod11"
    "prod10 prod10  prod11 prod11"
    ;
    align-items:center;
    justify-content: center;
    text-align: center;
    flex: 1;
    gap: 2rem;
}

.prod{
    margin: 1rem;
    background-color:#62869e;
    border-radius: 1rem;
    -webkit-animation: slide-in-bck-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bck-top {
    0% {
      -webkit-transform: translateZ(700px) translateY(-300px);
              transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-top {
    0% {
      -webkit-transform: translateZ(700px) translateY(-300px);
              transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  

.prod1{
    grid-area: prod1;
    
}
.prod2{
    grid-area: prod2;
}
.prod3{
    grid-area: prod3;
}
.prod4{
    grid-area: prod4;
}
.prod5{
    grid-area: prod5;
}
.prod6{
    grid-area: prod6;
}
.prod7{
    grid-area: prod7;
}
.prod8{
    grid-area: prod8;
}
.prod9{
    grid-area: prod9;
}
.prod10{
    grid-area: prod10;
}
.prod11{
    grid-area: prod11;
}
.prod12{
    grid-area: prod12;
}


.titulo-prod{
    color: #fff;
    margin: 0.5rem;
    text-align: center;
}

.imagen-prod{
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    flex: 1;
}

/* Servicios */

.servicios{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    background-color: #5E94B7;
    -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

.img-servicios{
    width: 700px;
}

.titulo-img{
    text-align: center;
    padding-inline: 10%;
    padding-block: 5%;
    background-color: #5E94B7;
    color: #fff;
}

.tarjeta-servicios{
    width: 100%;
    background-color: #78aacc;
    padding: 20px;
    border: solid 10px #5E94B7;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "imagen-a   linea-a"
    "linea-b    imagen-b";
    align-items: center;
    justify-content: center;
    gap: 1rems;
    -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.linea-b-servicios,
.linea-a-servicios{
    padding: 2rem;
    line-height: 2rem;
}


.titulo-servicios{
    color: #fff;
    text-align: justify;
}

.imagen-a-servicios{
    grid-area: imagen-a;
}

.imagen-b-servicios{
    grid-area: imagen-b;
}

.linea-a-servicios{
    grid-area: linea-a;
    border-top-right-radius: 5px;
}

.linea-b-servicios{
    grid-area: linea-b;
    border-bottom-left-radius: 5px;
}

.img-servicios-a,
.img-servicios-b{
    width: 100%;
    border-radius: 15px;
    padding: 0.5rem;

}

.titulo-servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-servicios li{
    list-style-type: disc;
    line-height: 3rem;
}

.linea-servicios{
    font-size: 1.25rem;
}


/* Contacto */

.contacto{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mapa{
    background: linear-gradient(#bdd8e4 ,#39667e);
    padding: 20px;
    width: 100%;
    height: 700px;
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
            animation-delay: 0.25s;
            transition: all 0.3s;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }

.redes-contacto{
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#39667e;
    transition: all 0.3s;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

.redes-contacto li{
    list-style: none;
}

.redes-list-contacto{
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    display: flex;
}

.redes-item-contacto a{
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.redes-item-contacto{
    padding:40px;
    text-align: center;

}

.redes-img-contacto{
    width: 100px;
    
}

/* Pie de pagina */

.pie{
    display: flex;
    background-color: #39667e;
}

.pie h6{
    color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 0.75rem;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1800px) {
    .titulo-pagina{
        justify-content:center;
    }
    
    .titulo-pagina h2{
        margin-left: inherit;
    }

}


@media screen and (max-width: 1024px) {
    body{
        width: 1024px;
        max-width: 1024px;
    }

    .top{
        width:1024px;
    } 
    
    .top-content{
        width: 100%;
        font-size: 0.85rem;
    }
    
    .top-logo{
        margin-top: 20px;
        width: 350px;
    }

    .titulo-pagina{
        justify-content: center;
    }
    
    .titulo-pagina h2{
        margin-left: inherit;
    }

    .caja-formulario{
        width: 45rem;
        margin-right:inherit;
    }

    .titulo-nosotros{
        line-height: 1.75rem;
        padding-inline: 1.75rem;
    }

    .titulo-servicios li{
        list-style-type: disc;
        line-height: 2rem;
    }

}

@media screen and (max-width: 768px) {
   
    body{
        width: 768px;
        max-width: 768px;
    }

    .top{
        width:768px;
    } 
    
    .top-content{
        width: 100%;
        font-size: 0.75rem;
    }
    
    .top-logo{
        margin-top: 20px;
        width: 300px;
    }
    
    .top h1{
        width: fit-content;
        margin: 20px;
        color: #fff;
    }

    .scroll{
        width: 30px;
    }

    .encabezado{
        padding-top: 10px;
        flex-direction: column;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: larger;
    }

    .logo-imagen{
        margin:inherit;
        width: 100px;
    }

    .menu{
        height: 100%;
        padding: 5px;
        flex-direction: column;
        gap: 20px;
    }

    .menu-item a{
        font-size: large;
        padding: 5px;
    }

    .menu-item.dif a{
        border: inherit;
        padding: 5px;
    
    }

    .redes-list{
        flex-direction: row;
    }

    .titulo-pagina{
        justify-content: center;
    }
    
    .titulo-pagina h2{
        margin-left: inherit;
    }


    .contenido{
        width: 100%;
        margin: inherit;
    }

    .tarjeta-grid{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(3 1fr) ;
        grid-template-areas: 
        "t1 t2"
        "t3 t4"
        "t5 t6"
        ;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        flex: 1;
        
    }

    .linea h3{
        font-size: 1rem;
    }

    .caja-formulario{
        width: 35rem;
        margin-right:inherit;
    }

    .tarjeta-nosotros{
        display: flex;
        flex-direction: column;
    }

    .titulo-nosotros{
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding-inline: 1.75rem;
    }

    .tarjeta-productos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(12 1fr);
        grid-template-areas:
        "prod12 prod12"
        "prod12 prod12"
        "prod1  prod1"
        "prod1  prod1"
        "prod10 prod10"
        "prod10 prod10"
        "prod6  prod7"
        "prod2  prod3"
        "prod4  prod5"
        "prod8  prod9"
        "prod11 prod11"
        "prod11 prod11"
        ;
    }

    .titulo-prod{
        font-size: 1.25rem;
    }
} 

@media screen and (max-width: 480px) {
    body{
        width: 480px;
        max-width: 480px;
    }

    .top{
        width: fit-content;
        height: 100vh;
        background-image: url(../img/vete-desenfocada.jpg);
        background-repeat: no-repeat;
    } 
    
    .top-content{
        width: 100%;
        font-size: 0.5rem;
    }
    
    .top-logo{
        margin-top: 20px;
        width: 200px;
    }
    
    .top h1{
        width: fit-content;
        margin: 20px;
        color: #fff;
    }

    .scroll{
        width: 30px;
    }

    .encabezado{
        padding-top: 10px;
        flex-direction: column;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: larger;
    }

    .logo-imagen{
        margin:inherit;
        width: 100px;
    }

    .menu{
        height: 100%;
        padding: 5px;
        flex-direction: column;
        gap: 10px;
    }

    .menu-item a{
        font-size: small;
        padding: 5px;
    }

    .menu-item.dif a{
        border: inherit;
        padding: 5px;
    
    }

    .redes-list{
        flex-direction: row;
    }

    .titulo-pagina{
        justify-content: center;
    }
    
    .titulo-pagina h2{
        margin-left: inherit;
    }


    .contenido{
        width: 100%;
        margin: inherit;
    }

    .tarjeta-grid{
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(6 1fr) ;
        grid-template-areas: 
        "t1"
        "t2"
        "t3"
        "t4"
        "t5"
        "t6"
        ;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        flex: 1;
        
    }

    .t6{
        align-items: flex-end;
    }
    
    .tarjeta{
        height: 18rem;
        margin-top: inherit;
        flex: 1;
    }
    
    .titulo-tarjeta{
        color: #fff;
        text-align: center;
    }


    .linea h3{
        margin-left:10px ;
    }

    .tarjeta .linea{
        justify-content: space-between;
        align-items: center;
    }

    .t6 .linea{
        font-size: inherit;
    }
    
    .ver{
        margin: inherit;
        padding: 5px;
        margin-right: 10px;
    }

    /* formulario */


    .grid-form{
        grid-template-areas:
        "nombre     consulta"
        "email      consulta"
        "telefono   consulta "
        "tcons      enviar"
        ;
        row-gap: 5px;
    }


    .formulario{
        flex-direction: column;
    }

    .caja-formulario{
        width: 25rem;
        margin-right:inherit;
    }

    .text-form{
        font-size: 1rem;
        padding-bottom: 1rem;
        margin-left: inherit;
        width: 100%;
    }

    .form-item textarea{
        padding: 0.25rem;
        border-radius: 5px;
    
    }
    
    .form-item input {
        padding: 0.25rem;
        border-radius: 5px;
    }
    
    .form-item select{
        padding: 0.25rem;
        border-radius: 5px;
    }
    
    .tarjeta-productos{
        display: flex;
        flex-direction: column;
    }

    .tarjeta-servicios{
        display: flex;
        flex-direction: column;
        gap: 1rems;
        border-radius: inherit;
    }

    .img-servicios-a,
    .img-servicios-b{
        border-radius: inherit;
        padding: inherit;
    }

    .servicios{
        max-width: 480px;
    }

    .servicios img{
        width: 100%;
    }

    .servicios h2{
        font-size: 1.25rem;
    }

    .mapa{
        height: 500px;
    }

    .redes-list-contacto{
        flex-direction: column;
    }


}
