@import "./variables";
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}


input, textarea, select{
    width : 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;

}  

