
.bg-foto{
    background-image: url(../img/analisis-desenfocado.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    h2{
        line-height: 3.5rem;
        padding: 10rem 5rem;
        color: #fff;
        font-weight: 800;
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,0.5858718487394958) 0%, rgba(0,0,0,0.5214460784313726) 35%, rgba(0,0,0,0.12648809523809523) 100%);
        margin-bottom: 0;
    }
}

.contenido-flex{
    .contenido-serv{
        .card{
            background-color:#39667e9a;
            border: none;
            .card-body{
                justify-content: center;
                align-items: center;
            }
            .card-title,
            .card-text{
                color: #fff;
            }
           &:hover{
             transform: inherit;
             box-shadow: none;
           }
        }
    }
}