@import "./variables";
.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  
  .contenido-flex{
      display: flex;
      justify-content: center;
      background-color: $background-container;
  }
  
  .contenido{
      display: flex;
      flex-direction: column;
      width: 83rem;
      
  }