.pie{
    display: flex;
    background-color: #39667e;
    h6{
        color: #fff;
        margin: 10px;
        padding: 10px;
        font-size: 0.75rem;
        align-items: center;
        justify-content: center;
    }
}
