
  .card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.3s;
    &:hover{
        transform: scale(1.1);
    }

  }
  
  .ver-mas:hover {
    background-color: #39667e;
    border-color: #39667e;
    transition: all 0.3s;
  }
  
  .prod {
    margin: 1rem;
    background-color: #1b698a96;
    border-radius: 1rem;
    -webkit-animation: slide-in-bck-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-bck-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @-webkit-keyframes slide-in-bck-top {
    0% {
      -webkit-transform: translateZ(700px) translateY(-300px);
      transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-bck-top {
    0% {
      -webkit-transform: translateZ(700px) translateY(-300px);
      transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }